-use yii\helpers\Html
-use yii\widgets\ActiveForm
.slider-images-form

  -$form = ActiveForm::begin();

  !=$form->field($model, 'image_id')->textInput()
  !=$form->field($model, 'address')->textInput(['maxlength' => true])
  !=$form->field($model, 'text')->textInput(['maxlength' => true])
  .form-group
    !=Html::submitButton($model->isNewRecord ? 'Create' : 'Update', ['class' => $model->isNewRecord ? 'btn btn-success' : 'btn btn-primary'])

  -ActiveForm::end()
