# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated


db.php
personal.php
params.php
Будет удалено .gitignore
/vendor_/
/web/user_file/
/web/assets/*
# ignoring slider pictures
/web/img/slider/
/web/img/orhidLegends/
# ignoring tinyMce redactor pictures
/web/image/

/web/index.php

*.log
*.tmp
*.local
Будет удалено web/assets/
/web/img/shop_item/
/web/uploads_thumbs/
/web/uploads/
/composer.lock
