-
    /* @var $this \yii\web\View */
    /* @var $content string */
    use app\assets\AppAsset;
    use app\components\seo\SeoWidget;

    //use app\components\assets\AppAsset;
    use yii\helpers\Html;
    use yii\bootstrap\Nav;
    use yii\bootstrap\NavBar;
    //use yii\widgets\Breadcrumbs;

    AppAsset::register($view);
    $seo = json_decode(SeoWidget::widget());
    $view->beginPage()

include ../mixins/menu

doctype transitional
html(lang=Yii::$app->language xmlns="http://www.w3.org/1999/xhtml")
    // BEGIN HEAD
    head
        include ../base/_head
        - $view->head()
        if (!Yii::$app->user->can('userManager'))
          link(href='/css/media.css', rel='stylesheet')
          != $seo->meta_title;
          != $seo->keywords;
          != $seo->description;

        // END HEAD
    body(class=$this->params['body-class'])
        - $view->beginBody()
        .header
            include ../base/_header
        .main
            .top_menu
                include ../base/_top_menu
            - if (!Yii::$app->user->isGuest && count(Yii::$app->user->identity->role)>0){
                include ../base/_admin_menu
            -}
            - if (!isset($view->params['hide_title'])||$view->params['hide_title']==false){
                .content
                    .into
                        .title_1
                            span= $view->title
                        != $seo->title;
                        != $seo->text;
                        != $content
            -}else{
                != $seo->title;
                != $seo->text;
                != $content
            -}
        include ../base/_footer
        - $view->endBody()
        - $view->endPage()
        script(src='/js/my.js')
        script(src='/js/chosen.jquery.min.js')
        script(src='/js/chosenImage.jquery.js')