-use yii\helpers\Html
-use yii\grid\GridView
-$view->title = 'Users'
-$view->params['breadcrumbs'][] = $view->title
.user-index
  h1
    !=Html::encode($view->title)
    //!= $view->render('_search', ['model' => $searchModel])
  -if ( Yii::$app->session->hasFlash('success')) {
    p.signup-success= Yii::$app -> session -> getFlash('success');
  - }
  div
    !=Html::a('Create User', ['create'], ['class' => 'btn btn-success'])
    .btn-group
      a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
        | Set moderation status
        span.caret
      ul.dropdown-menu(atribute='moderate')
        li(state='1')
          a Moderated
        li(state='0')
          a Unmoderated
        li(state='2')
          a Wait


  -
    $columns = [
      [
        'class' => 'yii\grid\CheckboxColumn'
      ],
      ['class' => 'yii\grid\SerialColumn'],
      'id',
      [
        'format' => 'raw',
        'attribute'=>'photo',
        'filter'=>false,
        'enableSorting'=>false,
        'value' => function ($model, $key, $index, $column) {
          return '<img src="'.$model->photo.'" style="height: 100px;" \>';
        },
      ],
      'username',
      'email:email',
      //'phone',
      'first_name',
      'last_name',
      //'city',
      //'country',
      [
        'attribute'=>'sex',
        'filter'=>array(''=>'All',0=>"Men",1=>"Female"),
        'value' => function ($model, $key, $index, $column) {
            return $model->sex==1?'Female':'Men';
         },
      ], [
        'attribute'=>'status',
        'format' => 'raw',
        'filter'=> array(''=>'All',0=>"Blocked",1=>'Active',2=>"Wait"),
         'value' => function ($model, $key, $index, $column) {
            switch ($model->status) {
              case 0:
              return '<span class="label label-danger">
            <i class="glyphicon glyphicon-lock"></i>Blocked</span>';
            break;
            case 2:
            return '<span class="label label-warning">
              <i class="glyphicon glyphicon-hourglass"></i>Wait</span>';
            break;
            case 1:
            return '<span class="label label-success">
              <i class="glyphicon glyphicon-ok"></i>Active</span>';
            break;
            }
            return false;
        },
      ],[
        'attribute'=>'moderate',
        'filter'=>array(''=>'All',0=>"NOT",1=>"YES",2=>'Wait'),
        'value' => function ($model, $key, $index, $column) {
          if($model->sex==1){
            return $model->moderate==1?'YES':($model->status==2?'Wait':'NOT');
          }else{
            return '-';
          }
        },
      ],
      //'role',
      //'password',
      //'password_reset_token',
      //'auth_key',
      //'created_at',
      //'updated_at',
      [
        'class' => 'yii\grid\ActionColumn',
        'template'=>'{view}{create}{update}{delete}',
        'buttons'=>[
          'update' => function ($url, $model) {
            return Html::a('<span class="glyphicon glyphicon-pencil"></span>', $url, [
              'title' => 'Create',
            ]);
          },
          'view' => function ($url, $model) {
            return Html::a('<span class="glyphicon glyphicon-log-in"></span>', $url, [
              'title' => 'Enter',
            ]);
          },
        ],
        //'updateOptions' => ['label'=>\Yii::t('app', 'Edit')],
      ],
    ]

  !=GridView::widget(['dataProvider' => $dataProvider, 'filterModel' => $searchModel, 'columns' => $columns ])

