-use yii\widgets\DetailView

-
  $attributes = [
    'id',
    'username',
    'email:email',
    'first_name',
    'last_name',
    //'city',
    //'country',
    //'sex',
    //'status',
    //'role',
    //'password',
    //'password_reset_token',
    //'auth_key',
    //'created_at',
    //'updated_at',
  ]

!=DetailView::widget(['model' => $model,'attributes' => $attributes ])
