-use yii\helpers\Html
-use yii\grid\GridView
-$view->title = 'Users'
-$view->params['breadcrumbs'][] = $view->title
.user-index
  h1
    !=Html::encode($view->title)
  //-!= $view->render('_search', ['model' => $searchModel]) ?>

  p
    !=Html::a('Create User', ['create'], ['class' => 'btn btn-success'])


  -
    $columns = [
    ['class' => 'yii\grid\SerialColumn'],
    'id',
    'username',
    'email:email',
    'first_name',
    'last_name',
    //'city',
    //'country',
    //'sex',
    //'status',
    //'role',
    //'password',
    //'password_reset_token',
    //'auth_key',
    //'created_at',
    //'updated_at',
    ['class' => 'yii\grid\ActionColumn'],
    ]

  !=GridView::widget(['dataProvider' => $dataProvider, 'filterModel' => $searchModel, 'columns' => $columns ])

