//
   Created by max on 25.11.16.

-
    use yii\bootstrap\Modal;
    use yii\helpers\Html;
    use yii\bootstrap\ActiveForm;
    use yii\captcha\Captcha;
    use yii\helpers\Url;

- Modal::begin([
    'header' => '<h1 class="text-center">' . Yii::t('user', 'Восстановление пароля') . '</h1>',
    'toggleButton' => false,
    'id' => 'pass'
]);