-use yii\helpers\Html
-use yii\widgets\ActiveForm
.slider-images-search
  -$form = ActiveForm::begin(['action' => ['index'],'method' => 'get',])
  !=$form->field($model, 'image_id')
  !=$form->field($model, 'address')
  !=$form->field($model, 'text')
  !=$form->field($model, 'gender')
  .form-group
    !=Html::submitButton('Search', ['class' => 'btn btn-primary'])
    !=Html::resetButton('Reset', ['class' => 'btn btn-default'])

  -ActiveForm::end()
