-use yii\helpers\Html
-$view->title = 'Create Slider Images'
-$view->params['breadcrumbs'][] = ['label' => 'Slider Images', 'url' => ['index']]
-$view->params['breadcrumbs'][] = $view->title
.slider-images-create
  h1
  !=$view->render('_form', ['model' => $model,])
