-use yii\helpers\Html
-use yii\widgets\DetailView
-$view->title = $model->image_id
-$view->params['breadcrumbs'][] = ['label' => 'Slider Images', 'url' => ['index']]
-$view->params['breadcrumbs'][] = $view->title
.slider-images-view
  h1
    !=Html::encode($view->title)
  p
    !=Html::a('Update', ['update', 'id' => $model->image_id], ['class' => 'btn btn-primary'])
    !=Html::a('Delete', ['delete', 'id' => $model->image_id], ['class' => 'btn btn-danger','data' => ['confirm' => 'Are you sure you want to delete this item?','method' => 'post',],])

  -
    $attributes = [
    'image_id',
    'address',
    'text',
    'gender',
    ]
  !=DetailView::widget(['model' => $model,'attributes' => $attributes ])
