-$menuItems = []
if (Yii::$app->user->can('userManager'))
    -
        $menuItems[] = ['label' => 'User control', 'url' => '/user/admin'];
        $menuItems[] = ['label' => 'Create user', 'url' => '/user/admin/create'];
        $menuItems[] = ['label' => 'Country', 'url' => '/user/country'];
        $menuItems[] = ['label' => 'Shop', 'url' => '/shop/shop'];
        $menuItems[] = ['label' => 'Slider', 'url' => '/slider/admin'];

if (Yii::$app->user->can('rbac'))
    -
        $rbac =[];
        $rbac[]=['label' => 'Rule', 'url' => '/rbac/rule'];
        $rbac[]=['label' => 'Permission', 'url' => '/rbac/permission'];
        $rbac[]=['label' => 'Role', 'url' => '/rbac/role'];
        $rbac[]=['label' => 'Assignment', 'url' => '/rbac/assignment'];
        $menuItems[] = ['label' => 'Rbac', 'url' => '', 'child' => $rbac]

if (Yii::$app->user->can('staticPagesAccess'))
    -
        $menuItems[] = ['label' => 'Static pages', 'url' => '/staticPages'];

if count($menuItems) > 0
    .admin_top_menu
        +navbar($menuItems)
