-
    use app\modules\user\components\UserWidget;
.into
    a(href='/').logo
        img(src='img/logo.png', alt='')
    .uzer_hed
        !=UserWidget::widget()
    //    !=Yii::$app->user->isGuest ? UserLoginWidget::widget() : UserOnlineWidget::widget()
    //    | {{user_block}}
    // uzer_hed
    .top_slogan
        p Marriages are made in heaven
        span
