.into
    a(href='/').logo
        img(src='img/logo.png', alt='')
    .uzer_hed
    //    !=Yii::$app->user->isGuest ? (UserLoginWidget::widget()) : "Авторизирован"
    //    | {{user_block}}
    // uzer_hed
    .top_slogan
        p Marriages are made in heaven
        span Брачное агентство Orhid Legend
