

-
    $menuItems = [
        ['label' => 'Top', 'url'=>'/top'],
        ['label' => 'Services', 'url'=>'/services'],
        ['label' => 'About us', 'url'=>'/about'],
        ['label' => 'Blog', 'url'=>'/blog'],
        ['label' => 'Happy history', 'url'=>'/stories'],
        ['label' => 'Mens', 'url'=>'/mans'],
        ['label' => 'Конкурсы', 'url'=>'/competitions'],
        ['label' => 'Help', 'url'=>'/onlinehelp'],
    ]

.into
    +navbar($menuItems)
    .top_soc
        a(href='#')
            img(src='img/vk.png', alt='')
        a(href='#')
            img(src='img/ok.png', alt='')
        a(href='#')
            img(src='img/in.png', alt='')
        a(href='#')
            img(src='img/f.png', alt='')