

-
    $menuItems = [
        ['label' => 'Top', 'url'=>'/top']
    ];
    if( Yii::$app->user->isGuest || Yii::$app->user->identity->sex==0 && !Yii::$app->user->identity->role){
        $menuItems[] = ['label' => 'Ladies', 'url'=>'/ladies'];
        $menuItems[] = ['label' => 'Services', 'url'=>'/services'];
    };
    if( !Yii::$app->user->isGuest && Yii::$app->user->identity->sex==1 && !Yii::$app->user->identity->role){
        $menuItems[] = ['label' => 'Men', 'url'=>'/men'];
    };
    if( !Yii::$app->user->isGuest && Yii::$app->user->identity->role){
      $menuItems[] = ['label' => 'Ladies', 'url'=>'/ladies'];
      $menuItems[] = ['label' => 'Men', 'url'=>'/men'];
      $menuItems[] = ['label' => 'Services', 'url'=>'/services'];
    }

    $menuItems[] = ['label' => 'About us', 'url'=>'/about'];
    //$menuItems[] = ['label' => 'Blog', 'url'=>'/blog'];
    $menuItems[] = ['label' => 'Love stories', 'url'=>'/stories'];
    $menuItems[] = ['label' => 'Gift shop', 'url'=>'/user-gift/0'];
    $menuItems[] = ['label' => 'Partner ship', 'url'=>'/partnership'];

    if( Yii::$app->user->isGuest){
        $menuItems[]=['label' => 'Registration', 'url'=>'/registration'];
    }else{
        $menuItems[]=['label' => 'My account', 'url'=>'/profile'];
    };
    if( !Yii::$app->user->isGuest && Yii::$app->user->identity->sex==0){
        $menuItems[] = ['label' => 'Payments', 'url' => '/payment'];
    };
    $menuItems[]=['label' => 'Help', 'url'=>'/onlinehelp'];

.into
    +navbar($menuItems)
    .top_soc
        a(href='#')
            img(src='img/vk.png', alt='')
        a(href='#')
            img(src='img/ok.png', alt='')
        a(href='#')
            img(src='img/in.png', alt='')
        a(href='#')
            img(src='img/f.png', alt='')
