-use yii\helpers\Html
-use yii\widgets\ActiveForm
-use karpoff\icrop\CropImageUpload;
.shop-store-form

  -$form = ActiveForm::begin(['options' => ['enctype'=>'multipart/form-data']]);

  !=$form->field($model, 'title')->textInput(['maxlength' => true])
  !=$form->field($model, 'description')->textarea(['rows' => 6])
  !=$form-> field($model, 'picture')->widget(CropImageUpload::className(), ['options' => ['accept' => 'image/jpeg']]);
  !=$form->field($model, 'price')->textInput()
  !=$form->field($model, 'comment')->textarea(['maxlength' => true,'rows' => 6])
  !=$form->field($model, 'active')->dropDownList(['1' => 'Active','0' => 'Hidden'])
  .form-group
    !=Html::submitButton($model->isNewRecord ? 'Create' : 'Update', ['class' => $model->isNewRecord ? 'btn btn-success' : 'btn btn-primary'])

  -ActiveForm::end()
