- $view->params['hide_title']=true;
.top_slyde
    // SLYDER
    div(id=headerimgs)
        .headerimg(id=headerimg1)
        .headerimg(id=headerimg2)
    // SLYDER END
    .top_star
        .into
            .slogan_2
                b Marriage Agency
                |  Orhid Legend
            dl
                span Красивые ухаживания и романтические встречи
                span 18-летний опыт работы
                span
                    | Интересные, успешные и серьезные мужчины из Америки, Европы, Австралии мечтают о счастливой семье
                // <span>Уникальные возможности - интересные, успешные и серьезные мужчины из Америки, Европы, Австралии мечтают о счастливой семье</span>
            dl
                span Конфиденциальность и надежность
                span Совершенствование и рост
                span Индивидуальный подход, консьерж-сервис
            dl
                span Более 300 пар
                span Эксклюзивные подарки
                span Комфорт и безопастность
// top_slyde
.top_people
    .into
        .title_1
            span Топ анкет девушек
        .anketa_all
            .anketa
                a(href='#')
                    i
                    img(src='img/girl_7.jpg', alt='Анастасия Днепропетровск')
                    div
                        b Анастасия
                        p
                            | 28
                            span Одесса
            .anketa
                a(href='#')
                    i
                    img(src='img/girl_2.jpg', alt='Анастасия Днепропетровск')
                    div
                        b Анастасия
                        p
                            | 28
                            span Одесса
            .anketa
                a(href='#')
                    i
                    img(src='img/girl_3.jpg', alt='Анастасия Днепропетровск')
                    div
                        b Анастасия
                        p
                            | 28
                            span Днепропетровск
            .anketa
                a(href='#')
                    i
                    img(src='img/girl_4.jpg', alt='Анастасия Днепропетровск')
                    div
                        b Анастасия
                        p
                            | 28
                            span Одесса
            .anketa
                a(href='#')
                    i
                    img(src='img/girl_5.jpg', alt='Анастасия Днепропетровск')
                    div
                        b Анастасия
                        p
                            | 28
                            span Киев
            .anketa
                a(href='#')
                    i
                    img(src='img/girl_6.jpg', alt='Анастасия Днепропетровск')
                    div
                        b Анастасия
                        p
                            | 28
                            span Одесса
        // anketa_all
// top_people
.content_glav
    .into
        h1.title_1
            span Здесь будет заголовок для поиска
        .video_glav
            iframe(src='https://www.youtube.com/embed/KRi4molZm50?rel=0', frameborder='0', allowfullscreen='')
        .right_cont
            p
                | Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
            p
                | Равным образом начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. С другой стороны постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. С другой стороны рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития.
// content_glav
