- $view->params['hide_title']=true;
-
    $view->title = $page['title'];
    $view->params['page'] = $page;


    use app\modules\slider\SliderWidget;
    use app\modules\user\models\User;

include ../mixins/user
.top_slyde
    // SLYDER
    div(id=headerimgs)
        !=SliderWidget::widget()
    // SLYDER END
    .top_star
        .into
            .slogan_2
                b Marriage Agency
                |  Orhid Legend
            dl
                span Over 300 couples
                span 20 years of experience
                span Site for serious people 
                // <span>Уникальные возможности - интересные, успешные и серьезные мужчины из Америки, Европы, Австралии мечтают о счастливой семье</span>
            dl
                span Online support
                span Real ladies, real meetings, real couples
                span Romantic tours
            dl
                span Safety and security
                span Anti-scam policy
                span Accompanying you at any stage of your search process

.top_people
    .into
        .title_1
            span Ladies online
        +userMiniCard($user,User::MAX_ONLINE_TIME)
        // anketa_all
// top_people
.content_glav
    .into
        h1.title_1
              != $page['title']
        .video_glav
            iframe(src='https://www.youtube.com/embed/jdtmEqdfXoU', frameborder='0', allowfullscreen='')
        .right_cont
             != $page['text']
// content_glav
