- $view->params['hide_title']=true;
-
    $view->title = $page['title'];
    $view->params['page'] = $page;


    use app\modules\slider\SliderWidget;
    use app\modules\user\models\User;

include ../mixins/user
.top_slyde
    // SLYDER
    div(id=headerimgs)
        !=SliderWidget::widget()
    // SLYDER END
    .top_star
        .into
            .slogan_2
                b Marriage Agency
                |  Orhid Legend
            dl
                span Красивые ухаживания и романтические встречи
                span 18-летний опыт работы
                span
                    | Интересные, успешные и серьезные мужчины из Америки, Европы, Австралии мечтают о счастливой семье
                // <span>Уникальные возможности - интересные, успешные и серьезные мужчины из Америки, Европы, Австралии мечтают о счастливой семье</span>
            dl
                span Конфиденциальность и надежность
                span Совершенствование и рост
                span Индивидуальный подход, консьерж-сервис
            dl
                span Более 300 пар
                span Эксклюзивные подарки
                span Комфорт и безопастность

.top_people
    .into
        .title_1
            span Топ анкет девушек
        +userMiniCard($user,User::MAX_ONLINE_TIME)
        // anketa_all
// top_people
.content_glav
    .into
        h1.title_1
              != $page['title']
        .video_glav
            iframe(src='https://www.youtube.com/embed/jdtmEqdfXoU', frameborder='0', allowfullscreen='')
        .right_cont
             != $page['text']
// content_glav
