-
    use yii\helpers\Html;
    use app\modules\user\models\User;

    $view->title = $page['title'];
    $view->params['page'] = $page;
    $view->params['breadcrumbs'][] = $view->title;


.search_mini
  form(method='get')
      label Age from:
      select(name='age-min')
          - for ($i=18; $i<=80; $i++) {
              -if($g['age-min']==$i){
                  option(value= $i, selected='selected')= $i
              -}else{
                  option(value= $i)= $i
              -}
          - }

      |             to:
      select(name='age-max')
          - for ($i=18; $i<=80; $i++) {
              -if($g['age-max']==$i){
                  option(value= $i, selected='selected')= $i
              -}else{
                  option(value= $i)= $i
              -}
          - }
      input.search_button(type='submit', value='Search')

include ../mixins/user
+userMiniCard($user,User::MAX_ONLINE_TIME)
