-
    use yii\helpers\Html;
    use app\modules\user\models\User;

    $view->title = $page['title'];
    $view->params['page'] = $page;
    $view->params['breadcrumbs'][] = $view->title;


.search_mini
  form(method='get')
      label Age from:
      select(name='age-min')
          option(value='18') 18
          option(value='19') 19
          option(value='20') 20
          option(value='21') 21
          option(value='22') 22
          option(value='23') 23
          option(value='24') 24
          option(value='25') 25
          option(value='26') 26
          option(value='27') 27
          option(value='28') 28
          option(value='29') 29
          option(value='30') 30
          option(value='31') 31
          option(value='32') 32
          option(value='33') 33
          option(value='34') 34
          option(value='35') 35
          option(value='36') 36
          option(value='37') 37
          option(value='38') 38
          option(value='39') 39
          option(value='40') 40
          option(value='41') 41
          option(value='42') 42
          option(value='43') 43
          option(value='44') 44
          option(value='45') 45
          option(value='46') 46
          option(value='47') 47
          option(value='48') 48
          option(value='49') 49
          option(value='50') 50
          option(value='51') 51
          option(value='52') 52
          option(value='53') 53
          option(value='54') 54
          option(value='55') 55
          option(value='56') 56
          option(value='57') 57
          option(value='58') 58
          option(value='59') 59
          option(value='60') 60
          option(value='61') 61
          option(value='62') 62
          option(value='63') 63
          option(value='64') 64
          option(value='65') 65
          option(value='66') 66
          option(value='67') 67
          option(value='68') 68
          option(value='69') 69
          option(value='70') 70
          option(value='71') 71
          option(value='72') 72
          option(value='73') 73
          option(value='74') 74
          option(value='75') 75
          option(value='76') 76
          option(value='77') 77
          option(value='78') 78
          option(value='79') 79
          option(value='80') 80
      |             to:
      select(name='age-max')
          option(value='18') 18
          option(value='19') 19
          option(value='20') 20
          option(value='21') 21
          option(value='22') 22
          option(value='23') 23
          option(value='24') 24
          option(value='25') 25
          option(value='26') 26
          option(value='27') 27
          option(value='28') 28
          option(value='29') 29
          option(value='30') 30
          option(value='31') 31
          option(value='32') 32
          option(value='33') 33
          option(value='34') 34
          option(value='35') 35
          option(value='36') 36
          option(value='37') 37
          option(value='38') 38
          option(value='39') 39
          option(value='40') 40
          option(value='41') 41
          option(value='42') 42
          option(value='43') 43
          option(value='44') 44
          option(value='45') 45
          option(value='46') 46
          option(value='47') 47
          option(value='48') 48
          option(value='49') 49
          option(value='50') 50
          option(value='51') 51
          option(value='52') 52
          option(value='53') 53
          option(value='54') 54
          option(value='55') 55
          option(value='56') 56
          option(value='57') 57
          option(value='58') 58
          option(value='59') 59
          option(value='60') 60
          option(value='61') 61
          option(value='62') 62
          option(value='63') 63
          option(value='64') 64
          option(value='65') 65
          option(value='66') 66
          option(value='67') 67
          option(value='68') 68
          option(value='69') 69
          option(value='70') 70
          option(value='71') 71
          option(value='72') 72
          option(value='73') 73
          option(value='74') 74
          option(value='75') 75
          option(value='76') 76
          option(value='77') 77
          option(value='78') 78
          option(value='79') 79
          option(value='80') 80
      input.search_button(type='submit', value='Search')

include ../mixins/user
+userMiniCard($user,User::MAX_ONLINE_TIME)
