-
    use yii\helpers\Html;
    use yii\bootstrap\ActiveForm;
    use yii\captcha\Captcha;

    $view->title = $page['title'];
    $view->params['page'] = $page;
    $view->params['breadcrumbs'][] = $view->title;

.site-contact
    p тут будут прайсы
