-
    use yii\helpers\Html;
    use yii\bootstrap\ActiveForm;
    use yii\captcha\Captcha;

    $view->title = $page['title'];
    $view->params['page'] = $page;
    $view->params['breadcrumbs'][] = $view->title;

.site-contact
    .all_tarif
        .tarif.platinum
            .tar_1
                p Platinum
            .tar_2
                p $50
                span per month
            .tar_3
                p
                    | 30 presentation letters
                    span per month
                p
                    | 10 next letters
                    span per month
                p 6 photos in the profile
                .more_tar Read more
                a(href='#') buy
        .tarif.gold
            .tar_1
                p Gold
            .tar_2
                p $30
                span per month
            .tar_3
                p
                    | 30 presentation letters
                    span per month
                p
                    | 10 next letters
                    span per month
                p 6 photos in the profile
                .more_tar Read more
                a(href='#') buy
        .tarif.silver
            .tar_1
                p Silver
            .tar_2
                p $10
                span per month
            .tar_3
                p
                    | 30 presentation letters
                    span per month
                p
                    | 10 next letters
                    span per month
                p 6 photos in the profile
                .more_tar Read more
                a(href='#') buy
