-
    use yii\helpers\Html;
    use yii\bootstrap\ActiveForm;
    use yii\captcha\Captcha;

    $view->title = $page['title'];
    $view->params['page'] = $page;
    $view->params['breadcrumbs'][] = $view->title;

.site-contact
    .all_tarif
        p.tariffs Пакеты с услугами
        -
          foreach($tarificatorTariffs as $tarif){

        .tarif(class= $tarif->name)
            .tar_1
                p
                    -echo $tarif->name;
            .tar_2
                p
                   -echo $tarif->price;
                span per month
            .tar_3
                -
                    $array = json_decode($tarif->includeData);
                    if ($array) foreach($array as $key => $value)
                    {
                p
                    -echo $key
                    span
                        -echo $value
                -}
                //.more_tar Read more
                -if($guest==0){
                a(href='/pay',name =$tarif->name) buy
                -}else{
                p Авторизуйтесь или
                a Зарегистрируйтесь
                -}
        -}
    .all_credits
        p.credits Кредитные пакеты
        -
            foreach($tarificatorCredits as $tarif){
        .tarif(class= $tarif->name)
            .tar_1
                p
                    -echo $tarif->name;
            .tar_2
                p
                    -echo $tarif->price;
                    span per month
            .tar_3
                -
                    $array = json_decode($tarif->includeData);
                    if ($array) foreach($array as $key => $value)
                    {
                p
                    -echo $key
                    span
                        -echo $value
                    -}
                    //.more_tar Read more
                    -if($guest==0){
                    a(href='/pay',name =$tarif->name) buy
                    -}else{
                    p Авторизуйтесь или
                    a Зарегистрируйтесь
                    -}
            -}