-
    use yii\helpers\Html;
    $view->title = 'Happy history';

.legend_block
    .image_legend
        img(src='img/legend.jpg')
    .leg_tit Анастасия и Габриэль 2
    .leg_txt
        p
            | Еще один секрет счастья в семейной жизни – это внимание друг к другу. Муж и жена должны постоянно оказывать друг другу знаки самого нежного внимания и любви. Счастье жизни составляется из отдельных минут, из маленьких удовольствий – от поцелуя, улыбки, доброго взгляда, сердечного комплимента и бесчисленных маленьких, но добрых мыслей и искренних чувств. Любви тоже нужен ее ежедневный хлеб.
.legend_block
    .image_legend
        img(src='img/legend.jpg')
    .leg_tit Анастасия и Габриэль
    .leg_txt
        p
            | Еще один секрет счастья в семейной жизни – это внимание друг к другу. Муж и жена должны постоянно оказывать друг другу знаки самого нежного внимания и любви. Счастье жизни составляется из отдельных минут, из маленьких удовольствий – от поцелуя, улыбки, доброго взгляда, сердечного комплимента и бесчисленных маленьких, но добрых мыслей и искренних чувств. Любви тоже нужен ее ежедневный хлеб.
.legend_block
    .image_legend
        img(src='img/legend.jpg')
    .leg_tit Анастасия и Габриэль
    .leg_txt
        p
            | Еще один секрет счастья в семейной жизни – это внимание друг к другу. Муж и жена должны постоянно оказывать друг другу знаки самого нежного внимания и любви. Счастье жизни составляется из отдельных минут, из маленьких удовольствий – от поцелуя, улыбки, доброго взгляда, сердечного комплимента и бесчисленных маленьких, но добрых мыслей и искренних чувств. Любви тоже нужен ее ежедневный хлеб.
.legend_block
    .image_legend
        img(src='img/legend.jpg')
    .leg_tit Анастасия и Габриэль
    .leg_txt
        p
            | Еще один секрет счастья в семейной жизни – это внимание друг к другу. Муж и жена должны постоянно оказывать друг другу знаки самого нежного внимания и любви. Счастье жизни составляется из отдельных минут, из маленьких удовольствий – от поцелуя, улыбки, доброго взгляда, сердечного комплимента и бесчисленных маленьких, но добрых мыслей и искренних чувств. Любви тоже нужен ее ежедневный хлеб.
.legend_block
    .image_legend
        img(src='img/legend.jpg')
    .leg_tit Анастасия и Габриэль
    .leg_txt
        p
            | Еще один секрет счастья в семейной жизни – это внимание друг к другу. Муж и жена должны постоянно оказывать друг другу знаки самого нежного внимания и любви. Счастье жизни составляется из отдельных минут, из маленьких удовольствий – от поцелуя, улыбки, доброго взгляда, сердечного комплимента и бесчисленных маленьких, но добрых мыслей и искренних чувств. Любви тоже нужен ее ежедневный хлеб.

