-
    use yii\helpers\Html;
    use app\modules\user\models\User;
    use app\modules\user\models\Profile;
    use app\components\timePassed;
    use app\components\portfolioLine;
    use app\components\zodiacalSign;
    use app\components\chineseZodiac;


    $view->title = $model->first_name.' '.date('Y',$model->profile['birthday']);
    $view->params['breadcrumbs'][] = $view->title;

    if ($model->profile['birthday']){
        $old=date('Y',time()-$model->profile['birthday'])-1970;
    }else{
        $old = null;
    }
    $online = (time()-($model->last_online)<User::MAX_ONLINE_TIME);
    $profile=$model->profile;

.one_left
    .one_img
        a(href= $model->getPhoto())
            img(src= $model->getPhoto(), alt= $model->first_name)
    // one_img
    .profile
        p
            span Age
            != ($old!=0)?($old.' years old'):('')

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'children_count','not_show'=>-1]);

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'weight']);

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'height']);


        p
            span City
            != $model->city_->city;
        p
            span Country
            != $model->country_->name

        -if($profile['birthday']!=0){
            p
                span Astrological sign
                != ZodiacalSign::Widget(['date'=>$profile['birthday']])
            p
                span Chinise Zodiac
                != ChineseZodiac::Widget(['date'=>$profile['birthday']])
        -}

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'eyes']);

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'heir']);

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'smoking']);

        -if( strlen($profile['lang_name'])>0){
            p
                span Languages Spoken
                != $profile['lang_name']
        -}

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'religion']);

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'smoking']);

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'marital_status']);

        -if( strlen($profile['occupation']) > 0){
            p
                span Occupation
                != $profile['occupation']
        -}

        != PortfolioLine::Widget(['portfolio'=>$profile,'params'=>'education']);


.one_right
    .age_us
        div= ($old!=0)?($old):('')
        p
            != $city['city']
            br
            != $country['name']
            if ($old!=0)
                span years old
    .one_info
        .name_us= $first_name
        p
            span.online_2= 'ID '.$model->id
            if ($online)
                span.online Now online
            else
                span.online_2
                 != TimePassed::widget(['timeStart'=>$model->last_online])
    // one_info
    -if(Yii::$app->user->isGuest){
        .video.video_registration
            | To get started, you need to login or
            a(href='/registration') sign up
    -}else{
        - if(($v==0 || $v!=($model->sex+1)) && $is_admin<1){
        .chat_us
            a(href= '/chat/'.$model->id) Live chat
            a(href='/mail/'.$model->id) Send message
            //a(href='#') Live video chat
            -if ($v==1){
              a(href= '/user-gift/'.$model->id) Send a gift
            -}
        -}
        - if($is_admin>=1){
            .chat_us
                a(href= '/user/admin/login?id='.$model->id)
                    span.glyphicon.glyphicon-log-in
                    | Login as this user
        -}
    -}
    //#profile_mini.profile
        | Копия портфолио

    - $photos = explode(',',$profile['photos']);
    - if( strlen($profile['photos']) > 0){
        .photo_us
            -foreach ($photos as $photo){
                a.photo_people(href= $photo style= 'background-image:url('.$photo.');')
            -}
    -}

    - if( strlen($profile['video_about']) > 0){
        -if(Yii::$app->user->isGuest){
            .video.video_registration
                | Please log in to view this video.
        -}else if (Yii::$app->user->identity->role || Yii::$app->user->identity->videoIsOpen($model->id)){
            object#videoplayer6381(type='application/x-shockwave-flash', data='/player/uppod.swf', width='320', height='240')
                param(name='bgcolor', value='#ffffff')
                param(name='allowFullScreen', value='true')
                param(name='allowScriptAccess', value='always')
                param(name='movie', value='/player/uppod.swf')
                param(name='flashvars', value="comment=test&st=/player/video209-1292.txt&file=/".$profile['video_about'])
        -}else {
            -if(Yii::$app->user->identity->canIdo("video_intro",true)){
                .video.video_pay
                    | To view the video you need
                    a(href='/user/'.$model->id.'?open_video') to pay
                    | for viewing it
            -}else{
                .video.video_no_money
                    | To watch the video, you need
                    a(href='/services') replenish the balance
                    | , and then pay for the video

            -}
        -}
    -}
