-use yii\helpers\Html
-$view->title = 'Create Tarificator Table'
-$view->params['breadcrumbs'][] = ['label' => 'Tarificator Tables', 'url' => ['index']]
-$view->params['breadcrumbs'][] = $view->title
.tarificator-table-create
  !=$view->render('_form', ['model' => $model, 'tariffs' => $tariffs])
