-use yii\helpers\Html
-use app\modules\user\models\User;
-use yii\captcha\Captcha;
-use yii\widgets\ActiveForm;
-use app\models\LbCountry;
-use app\models\LbCity;
-use app\components\chosen\Chosen;
-use app\components\geoip\Geoip;
-use yii\helpers\Url;

-use karpoff\icrop\CropImageUpload;

-Geoip::widget();
-$view->title = 'Registration';
-$view->params['breadcrumbs'][] = $view->title;

.user-form
  -if ( Yii::$app->session->hasFlash('signup-success')) {
    p.signup-success= Yii::$app->session->getFlash('signup-success');
  - } else {
    -
      $form = ActiveForm::begin(['id' => 'form-signup','fieldConfig' => ['template' => "{input}\n{hint}\n{error}"],'options' => ['enctype'=>'multipart/form-data']]);

    != $form->field($model, 'username')->textInput(['placeholder' => 'Username']);

    != $form->field($model, 'first_name')->textInput(['placeholder' => 'First name']);

    != $form->field($model, 'last_name')->textInput(['placeholder' => 'Last name']);

    != $form->field($model, 'email')->textInput(['placeholder' => 'Email']);

    != $form->field($model, 'password')->passwordInput(['placeholder' => 'Password']);

    != Chosen::widget(['name' => 'sex','data' => User::getSexArray(),'options' => ['placeholder' => 'Sex'],]);

    -
      $countryOption=[
        'name' => 'country_id',
        'data' => LbCountry::find()->all(),
        'valueText' => 'name',
        'selected' => \Yii::$app->session->get('ip_country'),
        'options' => ['data-img-src'=>'iso','src_prefix'=>'/img/flags/16/','placeholder' => 'Country'],
        'className'=>'my_select_box icon-select',
        'type'=>'object'
      ];
    != Chosen::widget($countryOption);

    -
      $cityOption = [
        'name' => 'city_id',
        'data' => LbCity::find()
          ->where(['country_id' => \Yii::$app->session->get('ip_country')])
          ->orderBy('city')
          ->all(),
        'valueText' => 'city',
        'valueDopText' => 'state',
        'selected' => \Yii::$app->session->get('ip_city'),
        'options' => ['placeholder' => 'City'],
        'type'=>'object'
      ];
    != Chosen::widget($cityOption);

    != $form->field($model, 'photo')->widget(CropImageUpload::className(),['options'=>['accept'=>'image/jpeg']]);

    -
      $capchaOption=[
          'captchaAction' => '/user/default/captcha',
          'options' => [
        'class' => 'form-control',
        'placeholder' => 'Captcha'
        ],
        'template' => '<div class="row">
          <div class="col-lg-8">{input}</div>
          <div class="col-lg-4">{image}</div>
        </div>',
        ]
    //- var_dump($capchaOption);
    != $form->field($model, 'captcha')->widget(Captcha::className(), $capchaOption);

  .form-group
    -
      $submitOption = [
        'class' => 'btn btn-lg btn-primary',
        'name' => 'signup-button'
      ];
    != Html::submitButton('<i class="glyphicon glyphicon-user"></i>Registration', $submitOption );
  -ActiveForm::end();

  - }
