-use yii\helpers\Html
-$view->title = 'Update Country: ' . ' ' . $model->name
-$view->params['breadcrumbs'][] = ['label' => 'Countries', 'url' => ['index']]
-$view->params['breadcrumbs'][] = ['label' => $model->name, 'url' => ['view', 'id' => $model->id]]
-$view->params['breadcrumbs'][] = 'Update';
.country-update
  h1
    !=Html::encode($view->title)
  !=$view->render('_form', ['model' => $model,])
