.top_us
    a.my_img(href='/profile')
        img(src= $photo, alt= $username)
    span
        strong= $username
        a(href='logout') Logout!
.top_mes
    a(href='#') Chat
    span 8
.top_mes
    a(href='#') Mail
    span 12

