.top_us
    a.my_img(href='/profile')
        img(src= $photo, alt= $username)
    span
        strong= $username
        a(href='logout') Logout!
- if (count(Yii::$app->user->identity->role)==0){
    .top_mes
        a.chat_cnt(href='/chat') Chat
        a.mail_cnt(href='/mail') Mail
    .top_mes
-}

if ($toAdmin)
    .toAdmin
        a(href='/return-to-admin') Return to admin
script(type='text/javascript').
    $(document).ready(function() {
        onlineTrace()
    });